[Desktop Entry]
Name=Nanonis Viewer
Version=1.0
Exec=/home/stefan/nanonis-viewer/gui.py
Icon=/usr/share/pixmaps/python3.xpm
Type=Application
Terminal=false
StartupNotify=true