[Desktop Entry]
Name=Nanonis Viewer
Version=1.0
Exec=/home/stefan/nanonis-viewer/gui.py
Icon=/home/stefan/nanonis-viewer/nanonis-viewer.png
Type=Application
Terminal=false
StartupNotify=true